:root {
  --main-border: 2px solid rgba(0, 0, 0, 0.4);
  --main-box-shadow: 0 0 4px 2px rgba(0, 0, 255, 0.4);
  --color-primary: white;
  --color-light-primary: rgb(196, 215, 245);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("/assets/images/bg_weather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  padding: 12px;
}
