.search {
    display: flex;
    max-width: 380px;
    width: 100%;
    position: relative;
    align-items: center;
}

.input {
    position: absolute;
    width: 100%;
    padding: 6px 6px 6px 36px;
    border: 1px solid blue;
    font-size: 18px;
    background-color: rgba(0, 0, 255, 0.05);
}
.input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    outline: none;
}

.icon {
    margin-left: 6px;
}
