.error {
    color: red;
    padding: 4px 10px;
    border: 1px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    font-size: 20px;
    animation: 0.5s linear 0s showIn;
    background: rgba(255, 255, 255, 0.35);
}

@keyframes showIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
