.card {
    border: var(--main-border);
    box-shadow: var(--main-box-shadow);
    padding: 10px;
    background-color: rgba(69, 142, 237, 0.8);
    width: 100%;
    color: white;
    border-radius: 12px;
}

.head {
    display: flex;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light-primary);
}
.city {
    color: white;
    font-size: 24px;
}

.body {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.temp {
    font-size: 46px;
    font-weight: 600;
}
.icon {
    width: 100px;
    object-fit: cover;
}
.divider {
    margin: 18px 0;
    height: 1px;
    width: 100%;
    background-color: rgb(189, 213, 248);
}

.info {
    font-size: 16px;
    display: flex;
    gap: 12px;
}

@media (width < 568px) {
    .info {
        gap: 0;
    }
}
