.temp {
    font-size: 36px;
    font-weight: 700;
    padding: 2px 8px;
    background-color: #6fe29f;
}

.description {
    display: flex;
    font-weight: 700;
    gap: 6px;
    align-items: center;
    padding: 2px 8px;
    color: white;
}

@media (width < 568px) {
    .description {
        font-size: 14px;
    }
}
